@media screen and (max-width: 480px) {
    

body {
    padding: 0px 30px 30px 30px;
    background-color: #E6FAF5;
    font-family:'Roboto', sans-serif;
    font-size: 1.5em;
}
p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
}
h2 {
    font-size: 2em;
    margin-left:5%;
    font-family: 'Lobster', cursive;
}
h3 {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    text-shadow: 3px 3px #A1AFAC;
}
h4 {
    font-size: 1em;
    margin-left:5%;
    font-family:'Roboto', sans-serif;
    color:#a1afac;
    font-weight: 200;
    margin-bottom:20px;
}
h4.high {
    margin-top:-230px;
}
h5 {
    font-size: 1em;
    font-family: 'Lobster', cursive;
    padding:0;
    margin:40px 0 40px 0;
}
h6 {
    font-size: 1em;
    font-family: 'Lobster', cursive;
    margin:0px auto;
}






#heading {
    text-align:center;
    width: 100%;
    max-width: 100%;
}
#rules {
    margin:0px 80px 0 5%;
    border:3px solid black;
    background-color: #E6F0E9;
    padding:0px 20px 20px 20px;
    clear:both;
}    
#rules p {
    font-size: 0.7em;
}
.instructions {
    margin:100px 80px 0px 5%;
    clear:both;
}
.instructions p {
    font-size: 1em;
    font-family:'Roboto', sans-serif;
    color:#a1afac;
    font-weight: 200;
    clear:both;
    float:left;
}
form.registration {
    margin-left: 5%;
}
#login {
    padding: 0px 0px 0px 80px;
    color:#E6FAF5;
}
.message {
    margin-left:5%;
}
span.time, form.submit {
   display:block;
   width: 10%;
   height: 100%;
   margin: 0 auto;
}
.credits{
    position: relative;
    bottom: -200px;
    padding: 0px 0px 20px 0px;
    text-align: center;
}
.creditsL{
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}












/* ----- ME VALE MADRE ------- */

form.submit {
    padding:20px 160px 0px 0px;
    text-align: center;
}
.buttons {
    float:left;
}
.submitclass2, .pausebuttons {
    text-align: center;
}
.pausebuttons, .middle, .submitclass2 {
    float:left;
    margin-left: 70%;
    position:relative;
}
#content{
    width: auto;
    height: auto;
    position: relative;
    float:center;
}      
#center {
    margin:0 auto;
}
#submit {
    width: auto;
    height: auto;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}   
#check, #keep, #leaderboard {
    width: auto;
    height: auto;
    position: absolute;
    
    margin-right: auto;
    margin-left: auto;
}
.check {
    font-size: 1.4em;
}
#incorrect, #correct, #nonogram {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#incorrect, #correct {
    text-align:center;
    color:  #003399;
    top: 50%;
    margin: -12.5% 0 20% 0;
}









/* ------ BUTTONS ----- */

button, input,button a{
    background-color: #4ba38d;
    color:white;
    font-family:'Roboto';
    font-size:0.5em;
    border:0;
    padding:8px 16px;
    border-radius:7px;
    text-decoration: none;
}
button.submit, input.pausebuttons {
    background-color: #4ba38d;
}
button.login {
    background-color: #4ba38d;
}
button.lets {
    background:#4ba38d;
}
a:hover, button:hover input:hover, input.pausebuttons:hover, input.reset:hover, form.submitt:hover, input.check:hover{
    color: black; 
}
button.level {
    background-color: #4ba38d;
    height:80%;
    width:80%;
    font-size: 1.4em;
}
button.grey, a.grey {
    background-color:#a1afac;
}


input[disabled] {
    color: #e6faf5;
    opacity: 0.3;
}
input[disabled]:hover {
    color: #e6faf5;
}












/* --------TABLES---------- */

table.buttons {
    border:0;
    margin:auto;
    padding:0;
    border-collapse: collapse;
    color: #E6FAF5;
    border:0px solid #e6faf5;
    float:center;
}
table.buttons td {
    vertical-align:top;
    padding:0;
    color:#e6faf5;
    height:0;
    width:0;
}
table.buttons tr {
    height:0;
}
table.home {
	border-collapse: collapse;
    border:3px solid black;
    font-family: Arial;
    margin: 30px 0 300px 5%;
    padding: 15px;
    width:50%;
    max-width:100%;
}
table.home tr {
    height:30%;
    max-height: 50%;
}
table.home th {
    height:10%;
    width:10%;
}
table.home td {
    height:10%;
    width:10%;
}
table.nonogram {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

}
table.nonogram td, table.nonogram th {
    height:10%;
    width:10%;
}
table.scores {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 0px 5%;
}
table.scores td{
    border: 3px solid black;
    width: 25%;
    padding: 0;
    /*height: 25%;*/
    text-align: left;
    background-color:#E6F0E9;
    font-family: 'Roboto', sans-serif;
    vertical-align: top;
} 
table.scores td h2 {
    text-align: center;
}
.home td,.home th{
  border: 3px solid black;
  padding: 2%;
  text-align: center;
  background-color:#E6F0E9;
  font-family: 'Roboto', sans-serif;
}
td {
    border: 2px solid gray;
    width: 5%;
    height: 5%;
    text-align: center;
    background-color:#E8E8E8;
    font-family: 'Roboto', sans-serif;
}
td.t {
    border-top:none;
}
td.b {
    border-bottom:none;
}
td.l {
    border-left:none;
}
td.r {
    border-right:none;
}
td.e {
    border:none;
    background-color:#E6FAF5;
}
td.n {
    background-color:#E8E8E8;
}
tr.thick-border-bottom {
    border-bottom:3px solid black;
}
td.white {
    background-color:white;
}
td.black {
    background-color: black;
}
td.gray {
    background-color: #D1D1D1;
}
th {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    width: 10%;
    height: 10%;
    text-align: center;
    background-color:#E8E8E8;
    font-family: 'Roboto', sans-serif;
}
tr.gridData td.sidebold, tr.columns th.sidebold {
    border-left: 8px solid #A1AFAC;
}
tr.topbold td, tr.topbold th{
    border-top: 8px solid #A1AFAC;
}
th:first-child, th.e + th {
    border-left: 2px solid gray;
}
th + th {
    border-left:none;
}
tr.columns th {
    border-top: none;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom:none;
}
tr.columns th.topborder {
    border-top: 2px solid gray;
}
th.t {
    border-top:none;
}
th.b {
    border-bottom:none;
}
th.l {
    border-left:none;
}
th.r {
    border-right:none;
}
th.e, th.e + th.e, tr.columns th.e, tr.topbold th.e {
    border:none;
    background-color:#E6FAF5;
}
th.n {
    background-color:#E8E8E8;
}
th.thick-border-bottom {
    border-bottom:3px solid black;
}
th.white {
    background-color:white;
}
th.black {
    background-color: black;
}















/* ----- LISTS ---- */

ol.info {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.info > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    padding-right:.5em;

    border-left: 2px solid #CCCCCC;
}
ol.info > li:before {
    position: absolute;
    top: 0;
    left: -1.4em;
    width: 0.8em;
     
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #4ba38d;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}

}